* {
    margin: 0px;
}


.container {
    display: grid;
    grid-template: 150px 1fr 50px / 200px 1fr;
    grid-template-areas: "header header" "left content" "footer footer";
    grid-gap: 5px;
    height: 100vh;
}


.item {
    border: 1px solid goldenrod;
}

.header {
    grid-area: header;
    background-color: goldenrod;
}

.left {
    grid-area: left;
    
}

.content {
    grid-area: content;
}

.footer {
    grid-area: footer;
    background-color: goldenrod;
}

.marco_imagen{
    height:250px;
    width:352px;
    bottom: 27%;
    right:32%;
    position:absolute;
}
.anterior{
    left:20px;
    bottom: 38%;
    left:38%;
    height: 80px;
    width: 70px;
    position:absolute;

}
.siguiente{
    right:20px;
    bottom: 40%;
    right:25%;
    height: 70px;
    width: 60px;
    position:absolute;
}

.imagen_central {
    width: 400px; 
    height: 400px;
    position:absolute;
    top: 30%;
    left: 43%;
}

